body {
    margin: 0px;
    overflow-y: scroll;
}

/* grid system */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.container:after {
    clear: both;
    display: table;
    content: "";
}

.container > div[class^="spacer"] {
    float: left;
}

.container > .row {
    width: 100%;
    float: left;
}

.container > .row:after {
    clear: both;
}

.row > [class^="span"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.row > [class^="offset"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.row > .span1 {
    width: 60px;
}
.row > .offset1 {
    margin-left: 90px;
}

.row > .span2 {
    width: 140px;
}
.row > .offset2 {
    margin-left: 170px;
}

.row > .span3 {
    width: 220px;
}
.row > .offset3 {
    margin-left: 250px;
}

.row > .span4 {
    width: 300px;
}
.row > .offset4 {
    margin-left: 330px;
}

.row > .span5 {
    width: 380px;
}
.row > .offset5 {
    margin-left: 410px;
}

.row > .span6 {
    width: 460px;
}
.row > .offset6 {
    margin-left: 490px;
}

.row > .span7 {
    width: 540px;
}
.row > .offset7 {
    margin-left: 570px;
}

.row > .span8 {
    width: 620px;
}
.row > .offset8 {
    margin-left: 650px;
}

.row > .span9 {
    width: 700px;
}
.row > .offset9 {
    margin-left: 730px;
}

.row > .span10 {
    width: 780px;
}
.row > .offset10 {
    margin-left: 810px;
}

.row > .span11 {
    width: 860px;
}
.row > .offset11 {
    margin-left: 890px;
}

.row > .span12 {
    width: 940px;
}

/* font system */
div {
    font-family: Georgia, Garamond,serif;
    color: black;
    font-size: 16px;
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    margin: 0px;
    line-height: 50px;
}

h1 a {
    color: black;
    border: none;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

/* form */
form {
    margin-top: 10px;
}
form:after {
    clear: both;
    display: table;
    content: "";
}

form > div[class^="spacer"] {
    float: left;
}

form > button {
    float: left;
}

textarea,input,select,label,div.btn,a.btn,button,input[type="button"] {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
}
textarea,input,select,label {
    float: left;
}

textarea {
    line-height: 150%;
    padding: 4px;
    resize: vertical;
    overflow: auto;
}

input[type=text], input[type=password] {
    padding: 4px;
}

input[type=checkbox], input[type=radio] {
    cursor: pointer;
}

select {
    padding: 4px;
}

label {
    width: 150px;
    line-height: 35px;
}
label:after {
    clear: both;
}

div.btn,a.btn,button,input[type="button"] {
    display: inline;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border: 1px black solid;
    text-align: center;
    color: black;
    text-decoration: none;
}

button:hover,input[type="button"]:hover,.btn:hover,.btn:focus {
    background-color: #f8f8f8;
    color: black;
    text-decoration: none;
}

/* spacers */
div[class^="spacer"] {
    font-size: 0px;
    width: 100%;    
}

div.spacer1 {
    height: 10px;
}
div.spacer2 {
    height: 20px;
}
div.spacer3 {
    height: 30px;
}

div.spacer1-header {
    height: 60px;
}
div.spacer2-header {
    height: 110px;
}
div.spacer3-header {
    height: 160px;
}

/* tables */
table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.bordered {
    border: 1px solid #404040;
}

table td {
    border-bottom: 1px solid #404040;
    padding: 3px;
}
table.bordered td {
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    padding: 3px;
}
table th {
    border-bottom: 1px solid #404040;
    text-align: left;
    padding: 3px;
}
table.bordered th {
    border-bottom: 1px solid #404040;
    padding: 3px;
}
table.zebra tr:nth-child(even) {
    background-color: #f8f8f8;
}
table tr:first-child {
    font-weight: bold;
    background-color: transparent;
}

/* elements */
pre, code {
    color: black;
    font-family: Courier, monospace;    
}

pre {
    display: block;
    margin-top: 5px;
    border: 1px solid #d8d8d8;
    background-color: #FEFBF3;
    padding: 5px 0px 5px 15px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    font-size: 16px;
}

ul,ol {
    margin-top: 0px;
    padding-left: 20px;
}
ol {
    margin-left: 5px;
}
ul { 
    margin-left: 0px;
    list-style-type: square;
}

a {
    color: #00438A;
    text-decoration: none;
}
a:hover {
    color: #0059B2;
    text-decoration: underline;
}
a[name] {
    color: black;
    text-decoration: none;
}
a img {
    border: 0px;
}

.header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: white;
}

.header img {
    float: left;
    margin-right: 10px;
    max-height: 50px;
}

.header select {
    margin-top: 10px;
}
.header input {
    margin-top: 10px;
    float: none;
}
.header textarea {
    margin-top: 10px;
}

.header a {
    margin-right: 15px;
    float: none;
}
.header label {
    margin-right: 15px;
    float: none;
    clear: none;
}

.header [class^="span"] {
    height: 50px;
    line-height: 50px;
}